*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
}

.text1{
    font-size: 3rem;
    text-shadow: 2px 2px white, -2px -2px white, 2px -2px white, -2px 2px white;
}

button{
    font-size: 2.5rem;
    font-weight: 600;
    border-radius: 1rem;
}
