*{
    box-sizing: border-box;
}

.container{
    width: 600px;
    height: 500px;
    padding: 10px;
    background: #eeeeee;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-content: cneter;

}

.container div{
    background: burlywood;
    border: 1px solid white;
    margin: 5px;
    width: 200px;
}

.box4{
    order: 3;
    background-color: white;
}

.box5{
    order: 1;
}