* {
    box-sizing: border-box;
    margin: 0px;

}

.info{
    width: 540px;
    height: 960px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
#titlepa{
    font-size: 32px;
    font-weight: 700;
    color: blue;
    text-align: left;
}

.in4{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in4 input{
    width: 380px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 7px;
}

.phonenum {
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phonenum input{
    width: 112px;
    height: 40px;
    border-radius: 10px;
}

.region select{
    width: 380px;
    height: 60px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid gray;
}

.genderb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.rightjeong{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 50px;
    align-items: center;
}

.rightjeong button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
}

#auth, #timer {
    color: #0068ff;
}

.genderb input{margin-right: 3px;}

.divideline{
    border-top: 1px solid lightgray;
    width: 380px;
}

.siup{
    width: 380px;
    height: 75px;
    color: #0068ff;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: white;
}
