*{
    margin: 0 auto;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btncontainer{
    margin: 20px;
    text-align: center;
}

.numberbox{
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 2.3rem;
    border: 7px solid black;
    margin: 10px;
    background-color: white;

}