*{
    margin: 0 auto;
    box-sizing: border-box;
}

.counterAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 70px;
}

#numberZone{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 30px;
    margin: 20px auto;
    background-color: antiquewhite;
    border-radius: 2rem;
}

.buttonZone{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}